.page.theme_dark {
  --background-image: url(../images/cover-image-dark.png);
  --accent-color: #ff0070;
  --main-background-color: #000028;
  --main-text-color: #f1b2ce;
  --subtitle-color: #000028;
  --title-color: #db00ff;
  --header-text-color: #000028;
  --title-decor: #ff0070;
  --header-shadow-color: #ff0070;
  --hover-color: rgba(255, 0, 112, 0.4);
}

.page.theme_dark .header__decorated-element {
  display: inline-block;
}

@media (prefers-color-scheme: dark) {
  .page {
    --background-image: url(../images/cover-image-dark.png);
    --accent-color: #ff0070;
    --main-background-color: #000028;
    --main-text-color: #f1b2ce;
    --subtitle-color: #000028;
    --title-color: #db00ff;
    --header-text-color: #000028;
    --title-decor: #ff0070;
    --header-shadow-color: #ff0070;
    --hover-color: rgba(255, 0, 112, 0.4);
  }
}
