.page.theme_light {
  --background-image: url(../images/cover-image-light.png);
  --accent-color: #353430;
  --main-background-color: #fff1f7;
  --main-text-color: #353430;
  --subtitle-color: #353430;
  --title-color: #ffc2e6;
  --header-text-color: #353430;
  --title-decor: #ff8dcb;
  --header-shadow-color: #ff8dcb;
  --hover-color: rgba(50, 49, 45, 0.4);
}

.page.theme_light .header__decorated-element {
  display: none;
}

@media (min-width: 1024px) {
  .page.theme_light {
    --header-shadow-color: #ff0070;
  }
}

@media (prefers-color-scheme: light) {
  .page {
    --background-image: url(../images/cover-image-light.png);
    --accent-color: #353430;
    --main-background-color: #fff1f7;
    --main-text-color: #353430;
    --subtitle-color: #353430;
    --title-color: #ffc2e6;
    --header-text-color: #353430;
    --title-decor: #ff8dcb;
    --header-shadow-color: #ff8dcb;
    --hover-color: rgba(50, 49, 45, 0.4);
  }

  .header__decorated-element {
    display: none;
  }

  @media (min-width: 1024px) {
    .page {
      --header-shadow-color: #ff0070;
    }
  }
}
