:root {
  --base-font-size: 18px;
  --title-font-size-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --title-font-size-desktop: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --regular-font-weight: 400;
  --bold-font-weight: 700;
  --line-height: 130%;
  --padding-large: 20px;
  --padding-small: 10px;
}
